/*@font-face {
    font-family: 'winding2';
    src: url('WINGDNG2.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'tacteing';
    src: url('fonts/khmer/tacteing.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Khmer OS Battambang';
    src: url('fonts/khmer/Battambang.ttf') format('truetype');
    /*font-weight: normal;
    font-style: normal;*/
}
@font-face {
    font-family: 'Khmer OS MuolLight';
    src: url('fonts/khmer/KhmerOSMuolLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Khmer OS Dangrek';
    src: url('fonts/khmer/Khmer OS Dangrek.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NatosanKhmer';
    src: url('fonts/khmer/NotoSansKhmer-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'element-icons';
    src: url('element-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

