body {
    /*padding-left: 10px;
    padding-right: 10px;*/
    font-family: sans-serif;
}


.custom tr:hover {
    background:orange;
}
.custom tr:hover ~tr {
    background:none;
}

/*===============================Opacity on Click==================*/
#base-navigation-drawer .v-list-group__header.v-list-item--active:not(:hover):not(:focus):before {
    opacity: 0.36 !important;
}

.v-list-item .v-list-item__subtitle, .v-list-item .v-list-item__title {
    line-height: 1.9 !important;
    font-size: .99rem !important;
}

.v-select__selections {
    line-height: 31px !important;
}

/*input[type="text"]:read-only {

    color: grey !important;

}*/

input[type="number"]:read-only {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    color: grey !important;
}

.mgTop {
    margin-top: 32px !important;
}

/*@page {
    margin-top: 5mm !important;
}*/
/*

@page :first {
    margin-top: 2mm !important;
}
*/

.w3-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-right: 4px solid #4CAF50;
    word-wrap: break-word;
}

.theme--light.v-input--is-disabled > .v-input__control > .v-input__slot {
    background-color: #F5F7FA !important;
    border-color: #E4E7ED !important;
    color: blue !important;
}

.theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    background-color: #F5F7FA !important;
    border-color: #E4E7ED !important;
    color: blue !important;
}

ul.custom-module {
}

ul.custom-module li {
    maring: 5px;
    padding: 50px;
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid white;
    /*background: rgba(255, 255, 255, 0.5);*/
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;

}

ul.custom-module li:hover {
    background: rgba(0, 59, 108, 0.8);
    border-radius: 20px;
    transform: scale(1);
    border: none;

}

ul.custom-module li.active-module {
    background: rgba(0, 59, 108, 0.8);
    border-radius: 20px;
    transform: scale(1);
    border: none;

}

.theme--light.v-label--is-disabled {
    color: grey !important;

}

.v-label--is-disabled {
    z-index: 1 !important;
}

.paddingL1 {
    padding-left: 30px;
    display: block;

}

.paddingL2 {
    padding-left: 60px;
    display: block;

}

.boldWithFont {
    font-family: "Khmer OS Battambang";
    font-weight: bold;

}

.fontMoul {
    font-family: "Khmer OS MuolLight";
    font-size: 13px;
}

.boldWithFontUnderline {
    font-family: "Khmer OS Battambang";
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.v-btn {
    letter-spacing: 0em !important;
}
